.form-buttons {
    text-align: left;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark overlay background */
    z-index: 1; /* Place it on top */
    align-items: center;
    justify-content: center;
}

.iframe-container {
    position: relative;
    width: 60%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Style for the dropdown summaries */
details summary {
cursor: pointer;
font-weight: bold;
background: #f0f0f0;
padding: 5px;
border: 1px solid #ddd;
border-radius: 3px;
margin: 5px 0;
}

/* Style for the dropdown content (buttons) */
details > div {
padding: 10px;
border: 1px solid #ddd;
border-radius: 3px;
background: #fff;
margin-top: 5px;
}

/* Remove the default list-style for summary bullets */
details summary::-webkit-details-marker {
display: none;
}
