html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    color: #16336D;
    display: flex;
    background-color: #16336D;
    font-size: 16px;
}

.card {
    color: black;
    margin-left: -30px;
    margin-right: -30px;
    background: white; 
    border-radius: 25px;
    padding: 45px;
    margin-bottom: 10px;
    flex-basis: calc(33.33% - 20px); 
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); /* Add a shadow for a visual effect */
    width: 1000px;
    height: 860px;

}

.card h3 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.columns-container {
    display: flex;
    justify-content: space-between;
}

.left-column {
    flex: 2;
    padding: 30px; 
}

.right-column {
    flex: 1;
    padding: 30px; 
}


.logo img {
    max-height: 85px; 
}

.content {
    margin-left: 300px;
    padding: 75px;
}

  .center-heading {
    text-align: center;
  }



  input[type="text"],
  input[type="date"] {
    width: 100%; /* Set the width to 100% to make it full-width */
    padding: 10px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(242, 242, 242); /* Set the background color to white */
  }


/* Add this CSS to style your form elements */
.form-group {
    margin-bottom: 20px;

}

/* Style the text inputs */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Style the submit button */
input[type="submit"] {
    display: inline-block;
    padding: 5px 20px; 
    background-color: #b41f1f; 
    color: #fff; 
    text-decoration: none;
    border: 5px solid #b41f1f; 
    border-radius: 5px; 
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

input[type="submit"]:hover {
    background-color: #941a1a; 
    border-color: #941a1a; 
}

/* Optional: Style the labels */
.form-control-label {
    font-weight: bold;
    color: #333;
}

.kp-forms-button {
    display: inline-block;
    font-weight: bold;
    padding: 2px 20px; /* Adjust padding as needed */
    background-color: rgb(242, 242, 242); /* Change this to your desired button background color */
    color: black; /* Change this to your desired button text color */
    text-decoration: none; /* Remove underline from the link */
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 400px; /* Set a fixed width for all buttons */
    height: 40px; /* Set a fixed height for all buttons */
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Center text vertically */
  }

  .kp-forms-button:hover {
    background-color: rgb(194, 194, 194); 
    border-color: rgb(194, 194, 194); 
  }


  .back-button {
    color: white; /* Change this to your desired button text color */
    display: inline-block;
    background-color: #0f2249; /* Change this to your desired button background color */
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    border-radius: 5px; /* Add rounded corners if desired */
    cursor: pointer; /* Add a pointer cursor on hover */
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Center text vertically */
    position: absolute;
    text-decoration: none;
    top: 50px;
    left: 50px;
    padding-left: 20px;
    padding-right: 20px;

}

.back-button:hover {
    background-color: #0a162e; 
    border-color: #0a162e; 
}




