* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(160, 223, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    padding: 20px;
    margin-top: 10%;
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type=email], input[type=password] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

form {
    position: relative;
    display: grid;
    padding: 15px;
}

form label {
    margin-bottom: 5px;
}

form input[type=button] {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

form input[type=button]:hover {
    background-color: #0056b3;
}

form p, form b {
    margin-top: 10px;
    text-align: center;
}

form a {
    color: #007BFF;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        margin-top: 20%;
        border-radius: 5%;
    }

    form {
        padding: 10px;
    }
}
