table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    vertical-align: top; /* Aligns content to the top */
}
th {
    background-color: #f4f4f4;
    cursor: pointer;
    text-align: left;
}
.yellow{
    background-color: yellow;
}
input[type=submit]{
    width: 100%;
    padding: 15px;
}

