table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    vertical-align: top; /* Aligns content to the top */
}
th {
    background-color: #f4f4f4;
    cursor: pointer;
    text-align: left;
}
.yellow{
    background-color: yellow;
}
input[type=submit]{
    width: 100%;
    padding: 15px;
}


tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    vertical-align: middle;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

tbody td input[type="file"] {
    padding: 5px;
    font-size: 14px;
}

tbody td b {
    font-weight: bold;
}

tbody td {
    text-align: left;
}

tbody tr th {
    background-color: #eee;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

tbody tr td:last-child {
    text-align: center;
}
input[type="submit"] {
    background-color: #0197fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%; /* Adjust the width as needed */
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #005791;
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(73, 103, 143, 0.5);
}
