
.custom-h2 {
  font-size: 2rem;
  /* Adjust the font size */
  font-weight: bold;
  /* Make the text bold */
  color: #007bff;
  /* Bootstrap primary color (blue) */
  text-align: center;
  /* Center align the heading */
  text-transform: uppercase;
  /* Uppercase the text */
  padding: 10px 0;
  /* Add padding above and below */
  border-bottom: 2px solid #007bff;
  /* Add a blue underline */
  margin-bottom: 20px;
  /* Space below the heading */
}

.bg-info {
  background-color: #17a2b8 !important;
  /* Sky blue */
}

.table-responsive {
  margin-top: 20px;
}

/* Sky Blue for header and subheaders */
.bg-skyblue {
  background-color: #87CEEB;
  /* Sky blue */
}

/* Yellow for Efficiency in Operation */
.bg-yellow {
  background-color: #FFD700;
  /* Yellow */
}

/* Center text and add white color for sky blue headers */
.text-white {
  color: white;
}

.table th,
.table td {
  vertical-align: middle;
}
table tbody tr:hover {
background-color: #f0f0f0; /* Change this color as desired */
cursor: pointer; /* Optional: change cursor to pointer when hovering */
}